@import "../../variables";
@import "../../mixins";

.apple-nav {
  @include set-colors($nav-wrapper-colors...);

  padding: 15px 0;

  &__categories {
    @include make-flex(row, space-between, center);

    max-width: 980px;
    margin: 0 auto;

    &__item {
      font-size: 1.4rem;
      font-weight: bold;
      cursor: pointer;
      padding: 0 10px;
      transition-duration: 500ms;
      transition-property: filter;

      &--image {
        max-width: 20px;
      }

      &:hover {
        filter: brightness(50%);
        transition-duration: 250ms;
        transition-property: all;
      }
    }
  }
}
