/* Color values */
$black: #000000;
$mine-shaft: #2c2c2c;
$concrete: #f3f3f3;
$wild-sand: #f6f6f6;
$science-blue: #0070c9;

/* Font assignments */

$body-font-family: "Calibri";
$heading-font-family: "Roboto";

/*  Color assignments */

// Global assignments
$default-font-color: $black;

// Apple nav assignments
$nav-wrapper-colors: ($mine-shaft, $concrete, null, null, null);
$nav-children-colors: ($wild-sand, $black, null, null, null);
$nav-children-hover-font-color: $science-blue;
